<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-12 text-center">
      <!-- ページタイトルとしてユーザー名の投稿一覧を表示 -->
      <h1 class="text-center"><%= @user.nickname %>'s page✨</h1>
        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
            <%= form_with(url: unfollow_user_path(@user), method: :delete, class: 'unfollow-form', remote: true, data: { turbo: 'false' }) do |form| %>
              <%= form.button 'フォロー中', type: :submit, class: 'btn btn-light mt-3 unfollow-button', id: 'unfollow-btn' %>
            <% end %>
          <% else %>
            <%= form_with(url: follow_user_path(@user), method: :post, class: 'follow-form', remote: true, data: { turbo: 'false' }) do |form| %>
              <%= form.button 'フォローする', type: :submit, class: 'btn btn-primary mt-3 follow-button', id: 'follow-btn' %>
            <% end %>
          <% end %>
        <% end %>
        <script>
          document.addEventListener("turbo:submit-end", (event) => {
            const form = event.target;

            if (form.classList.contains('unfollow-form')) {
              window.location.reload();
            }
          });
        </script>
        <br>
      <ul class="nav nav-tabs justify-content-center fs-5">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#d22">Post</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#d25">Like</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#d26">Follow</button>
        </li>
        <style>
          /* タブのテキスト色を設定 */
          .nav-link {
            color: grey; /* 薄いグレー */
          }
          .nav-link.active {
            color: darkgrey; /* 選択されたタブの色 */
          }
        </style>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="d22">
          <h4 class="mt-3">List of posts by <%= @nickname %> 🖋 </h4>
          <br>
          <% if @posts.any? %>
            <div class="row row-cols-2 row-cols-md-3 g-4">
              <% @posts.each do |post| %>
                <div class="colmb-4">
                  <div class="card h-100">
                    <!-- 投稿画像 -->
                    <div class="aspect-ratio">
                      <% if post.image.attached? %>
                        <%= link_to post, class: 'aspect-ratio-item' do %>
                          <%= image_tag post.image, class: 'card-img-top post-image' %>
                          <div class="overlay">
                            <span class="text"></span>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><%= post.content %></p>
                      <p class="card-text">
                        <% post.tags.each do |tag| %>
                          <span class="badge bg-secondary">
                            <i class="fas fa-tag"></i> <%= tag.tag_name %>
                          </span>
                        <% end %>
                      </p>
                      <!-- 編集、削除ボタン (ログイン中の投稿者のみ表示) -->
                      <div class="text-center">
                        <% if user_signed_in? && current_user == post.user %>
                          <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group text-center">
                              <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-outline-secondary' %>
                              <%= link_to '削除', post_path(post.id), data: { turbo_method: :delete }, class: 'btn btn-sm btn-outline-secondary' %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      <br>
                      <div id="like-btn<%= post.id %>">
                        <%= render partial: "likes/like", locals: { post: post } %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>まだ投稿がありません。</p>
          <% end %>
        </div>
        <div class="tab-pane fade" id="d25">
          <h4 class="mt-3">List of liked posts 🤍</h4>
          <br>
          <% if @like_posts.any? %>
            <div class="row row-cols-2 row-cols-md-3 g-4">
              <% @like_posts.each do |like| %>
                <% post = like.post %>
                <% if post.present? && post.image.attached? %>
                  <div class="col mb-4">
                    <div class="card h-100">
                      <!-- 投稿画像 -->
                      <div class="aspect-ratio">
                        <%= link_to post, class: 'aspect-ratio-item' do %>
                          <%= image_tag post.image, class: 'card-img-top post-image' %>
                          <div class="overlay">
                            <span class="text"></span>
                          </div>
                        <% end %>
                      </div>
                      <div class="card-body">
                        <p class="card-text"><%= post.content %></p>
                        <p class="card-text">
                          <% post.tags.each do |tag| %>
                            <span class="badge bg-secondary">
                              <i class="fas fa-tag"></i> <%= tag.tag_name %>
                            </span>
                          <% end %>
                        </p>
                        <!-- 編集、削除ボタン (ログイン中の投稿者のみ表示) -->
                        <div class="text-center">
                          <% if user_signed_in? && current_user == post.user %>
                            <div class="d-flex justify-content-center align-items-center">
                              <div class="btn-group text-center">
                                <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-outline-secondary' %>
                                <%= link_to '削除', post_path(post), data: { turbo_method: :delete }, class: 'btn btn-sm btn-outline-secondary' %>
                              </div>
                            </div>
                          <% else %>
                            <!-- ボタンがない場合の空白を追加 -->
                            <div style="height: 32px;"></div>
                          <% end %>
                        </div>
                        <br>
                        <div id="like-btn<%= post.id %>">
                          <%= render partial: "likes/like", locals: { post: post } %>
                        </div>
                        <div class="text-end">
                          <small class="text-muted">
                            投稿者: <%= link_to post.user.nickname, user_path(post.user), style: 'color: gray;' %>さん
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <p>まだいいねした投稿がありません。</p>
          <% end %>
        </div>
        <div class="tab-pane fade" id="d26">
          <h4 class="mt-3">List of following users 👤</h4>
          <br>
          <div id="user-details" >
            <%= render 'user_details', user: @user %>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
