<div class="container">
  <div class="card mb-4">
    <div class="carousel slide" data-bs-ride="carousel" id="crs1">
    <div class="carousel-indicators">
      <button data-bs-target="#crs1" data-bs-slide-to="0" class="active"></button>
      <button data-bs-target="#crs1" data-bs-slide-to="1"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="<%= about_path %>">
          <img src="<%= asset_path("phonto.PNG") %>" class="d-block w-100 img-fluid" alt="Hero Image">
        </a>
      </div>
      <div class="carousel-item">
        <a href="<%= tags_path %>">
          <img src="<%= asset_path("tag.jpg") %>" class="d-block w-100 img-fluid" alt="Topics Image">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#crs1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">前へ</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#crs1" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">次へ</span>
    </button>
  </div>
  <br>
  <% if flash[:notice].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% elsif flash[:alert].present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:alert] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <br>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <!-- 投稿画像 -->
          <div class="aspect-ratio">
            <% if post.image.attached? %>
              <%= link_to post, class: 'aspect-ratio-item' do %>
                <%= image_tag post.image, class: 'card-img-top post-image aspect-ratio-item' %>
                <div class="overlay">
                  <span class="text"></span>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= post.content %></p>
            <p class="card-text">
              <% post.tags.each do |tag| %>
                <span class="badge bg-secondary">
                  <i class="fas fa-tag"></i> <%= tag.tag_name %>
                </span>
              <% end %>
            </p>
            <!-- 編集、削除ボタン (ログイン中の投稿者のみ表示) -->
            <div class="text-center">
              <% if user_signed_in? && current_user == post.user %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to '削除', post_path(post.id), data: { turbo_method: :delete }, class: 'btn btn-sm btn-outline-secondary' %>
                  </div>
                </div>
              <% else %>
              <!-- ボタンがない場合の空白を追加 -->
              <div style="height: 32px;"></div>
              <% end %>
            </div>
            <br>
            <div id="like-btn<%= post.id %>">
              <%= render partial: "likes/like", locals: { post: post } %>
            </div>
            <div class="text-end">
              <small class="text-muted">
                投稿者: <%= link_to post.user.nickname, user_path(post.user), style: 'color: gray;' %>さん
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= paginate @posts %>
  </div>
</div>
