<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="text-center">
        <!-- 投稿画像 -->
        <div class="post-image-container position-relative">
          <%= image_tag @post.image, class: 'card-img-top post-image' %>
          <div class="overlay text-center">
            <span class="text"></span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-start"> <!-- 左上に@post.content配置 -->
            <h2 class="card-title"style="font-family: 'Your-Font-Name', sans-serif; font-size: 24px; font-weight: 600; color: #333;"><%= @post.content %></h2>
        </div>
          <% @post.tags.each do |tag| %>
            <span class="badge bg-secondary">
              <i class="fas fa-tag"></i> <%= tag.tag_name %>
            </span>
          <% end %>
        <div class="text-center">
          <!-- 編集、削除ボタン (ログイン中の投稿者のみ表示) -->
          <% if user_signed_in? && current_user == @post.user %>
            <div class="btn-group">
              <%= link_to '編集', edit_post_path(@post), class: 'btn btn-outline-secondary' %>
              <%= link_to '削除', post_path(@post), data: { turbo_method: :delete }, class: 'btn btn-outline-secondary' %>
            </div>
          <% end %>
        </div>
        <br>
        <div id="like-btn<%= @post.id %>">
          <%= render partial: "likes/like", locals: { post: @post } %>
        </div>
        <br>
        <div class="text-end"> <!-- 右下に@post.user.nickname配置 -->
          <small class="text-muted">
            投稿者: <%= link_to @post.user.nickname, user_path(@post.user), style: 'color: gray;' %>
          </small>
        </div>
        <br>
        <div id="comments" class="text-center">
          <div id="comments">
            <h4>＜コメント一覧＞</h4>
              <% @post.comments.each do |comment| %>
                <div class="comment">
                  <p class="user-info"><%= comment.user.nickname %>： </p>
                  <p><%= comment.content %></p>
                </div>
              <% end %>
          </div>
          <div class="comment-form mt-4 d-flex justify-content-center">
            <% if user_signed_in? %>
              <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
                <div class="mb-3">
                <%= f.text_area :content, class: "form-control comment-text", placeholder: "コメント入力してね" %>
                </div> 
                <div class="text-center">
                  <%= f.submit "Send", class: "comment-submit btn btn-secondary" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
