<!DOCTYPE html>
<html lang="ja" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Codehint</title>
    <%= stylesheet_link_tag 'application', 'custom_styles', media: 'all', "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>
  <body style="padding-top: 4rem;">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= root_path %>">
            <i class="fa-solid fa-hand-holding-heart"></i> Share
          </a>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main_nav" data-turbo-method="false">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="main_nav">
            <% if @city_weather.present? %>
              <div class="weather-info bg-dark text-white p-2 ">
                <div class="d-flex align-items-center">
                  <%= image_tag "http://openweathermap.org/img/wn/#{@city_weather[:icon]}.png", alt: 'Weather Icon' %>
                  <div class="temperature ms-2">
                    <p class="fs-6 mb-1"><strong><%= @city_weather[:city] %></strong></p>
                    <p class="fs-8 mb-0">
                      <%= " #{@city_weather[:high].to_i}℃ / #{@city_weather[:low].to_i}℃" %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
            <br>
            <ul class="navbar-nav ms-auto">
              <% if current_user %>
                <li class="nav-item">
                  <%= form_with(url: search_posts_path, method: :get, class: "search-form", local: true) do |form| %>
                    <div class="input-group">
                      <%= form.text_field :tag_name, placeholder: "Keyword", class: "form-control custom-search-input" %>
                      <div class="input-group-append">
                        <%= form.submit "Search", class: "btn btn-light text-nowrap search-btn" %>
                      </div>
                    </div>
                  <% end %>  
                </li>
              <% end %>
              <br>
              <% if current_user %>
                <li class="nav-item">
                  <%= link_to new_post_path, class: "nav-link" do %>
                    <i class="fa-sharp fa-solid fa-pen"></i> New post
                  <% end %>
                </li>
              <% end %>
              <%# <% if current_user %> 
                <%# <li class="nav-item"> %>
                  <%# <%= link_to likes_user_path(current_user), class: "nav-link" do %> 
                    <%# <i class="fa-sharp fa-solid fa-heart"></i> Liked %>
                  <%# <% end %> 
                <%# </li> %>
              <%# <% end %> 
              <% if current_user %>
                <li class="nav-item dropdown" data-turbo-method="false">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-user"></i> <%= current_user.nickname %>さん
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'My page', user_path(current_user), class: "dropdown-item" %></li>
                    <li><%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %></li>
                  </ul>
                </li>
              <% else %>
                <% if controller_name == "sessions" %>
                  <li class="nav-item">
                    <%= link_to new_user_registration_path, class: "nav-link" do %>
                      <i class="fa-regular fa-user"></i> Sign up
                    <% end %>
                  </li>
                <% elsif controller_name == "registrations" %>
                  <li class="nav-item">
                    <%= link_to new_user_session_path, class: "nav-link" do %>
                      <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to new_user_session_path, class: "nav-link" do %>
                      <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to new_user_registration_path, class: "nav-link" do %>
                      <i class="fa-regular fa-user"></i> Sign up
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
