<!doctype html>
<html lang="ja" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Codehint</title>
    <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="padding-top:5rem;">
  <div class="container">   
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">Share</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main_nav" data-turbo-method="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <form class="d-flex ms-auto my-2 my-md-0">
              <input type="search" class="form-control form-control-sm me-2" placeholder="キーワード">
              <button type="submit" class="btn btn-warning btn-sm text-nowrap">検索</button>
            </form>
          </ul>
          <ul class="navbar-nav ms-auto">
            <% if current_user %>
              <li class="nav-item"><a href="#" class="nav-link">新規投稿</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Nice</a></li>
              <li class="nav-item dropdown" data-turbo-method="false">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><%= current_user.nickname %></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'マイページ', "/users/#{current_user.id}", class: "dropdown-item", data: { turbo_method: :delete } %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %></li>
                </ul>
              </li>
            <% else %>
              <% if controller_name == "sessions" %>
                <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
              <% elsif controller_name == "registrations" %>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
              <% else %>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
              <% end %>            
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    
    

      
      <%= yield %>
  </div>
  </body>
</html>